*.valid
*.o
.deps
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
.*.sw*
.dirstamp
*.stamp*
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
Makefile
Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache
/autoscan.log
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/mkinstalldirs
/build-aux/test-driver
/build-aux/ylwrap
/config.cache
/config.h
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/configure.scan
/data/Makefile.in
/libtool
/so_locations
/stamp-h1
*/tags
/m4
*.c
*_la*
*.la
.libs/

*.bin
src/spi-dump
!src/progressbar/progressbar.c
test/tty.vala
test/mock-arduino
